:root {
	--primary-color: map-get($themeColors, --primary-color);
	--secondary-color: map-get($themeColors, --secondary-color);
	--link-color: map-get($themeColors, --link-color);
	--link-hover-color: map-get($themeColors, --link-hover-color);
	--button-color: map-get($themeColors, --button-color);
	--button-text-color: map-get($themeColors, --button-text-color);
	--button-hover-color: map-get($themeColors, --button-hover-color);
	--button-hover-text-color: map-get($themeColors, --button-hover-text-color);
	--title-color: map-get($themeColors, --title-color);
	--navi-color: map-get($themeColors, --navi-color);
	--navi-text-color: map-get($themeColors, --navi-text-color);
	--navi-hover-text-color: map-get($themeColors, --navi-hover-text-color);
	--navi-border-color: map-get($themeColors, --navi-border-color);
	--submenu-color: map-get($themeColors, --submenu-color);
	--submenu-text-color: map-get($themeColors, --submenu-text-color);
	--submenu-hover-text-color: map-get($themeColors, --submenu-hover-text-color);
	--submenu-border-color: map-get($themeColors, --submenu-border-color);
	--footer-color: map-get($themeColors, --footer-color);
	--footer-text-color: map-get($themeColors, --footer-text-color);
	--footer-hover-text-color: map-get($themeColors, --footer-hover-text-color);
	--footer-border-color: map-get($themeColors, --footer-border-color);
	--text-font: map-get($themeFonts, --text-font);
	--title-font: map-get($themeFonts, --title-font);
	--title-font-weight: map-get($fontWeight, --title-font-weight);
	--title-text-transform: map-get($textTransform, --title-text-transform);
	--navi-font: map-get($themeFonts, --navi-font);
	--navi-font-weight: map-get($fontWeight, --navi-font-weight);
	--navi-text-transform: map-get($textTransform, --navi-text-transform);
}
