/*
 * Editor Styles
 *
 * @package GT Basic
 */

@import '_mixins';
@import '_variables';

.wp-block {
	width: calc( #{$contentWidth} + 30px - 3rem );
}

body {
	color: $textColor;
	@include font-family(--text-font);
	@include font-size(18);
    line-height: 1.75;
}

p {
	@include font-size(18);
	margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 1em 0 0.75em;
	@include font-family(--title-font);
	line-height: 1.4;
}

h1 {
	@include font-size(32);
}

h2 {
	@include font-size(26);
}

h3 {
	@include font-size(22);
}

h4 {
	@include font-size(20);
}

h5 {
	@include font-size(19);
}

h6 {
	@include font-size(18);
}
