.header-main {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/* Site Branding */
.site-branding {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

.site-branding a:link,
.site-branding a:visited,
.site-branding a:hover {
	padding: 0;
	border: none;
	text-decoration: none;
}

.site-branding .custom-logo {
	margin: 0;
	padding: 0;
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: top;
}

.site-title {
	margin: 0;
	padding: 0;
	@include color(--title-color);
	text-decoration: none;
	@include font-size(32);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	line-height: 1.4;
}

.site-title a:link,
.site-title a:visited {
	@include color(--title-color);
}

.site-title a:hover,
.site-title a:active {
	@include color(--title-hover-color);
}

.site-description {
	display: block;
	margin: 0;
	padding: 0;
	@include color(--title-color);
	@include font-size(14);
}

/* Custom Header Image */
.header-image img {
	vertical-align: top;
}

/* Theme Options */
.site-title-hidden .site-title,
.site-description-hidden .site-description {
	@include hideElement();
}

.site-title-hidden.site-description-hidden .header-main {
	padding-top: 0;
	padding-bottom: 0;
}
