@media only screen and (min-width: 50em) {
    .entry-header {
        margin: 2rem 0 1.5rem;
    }

    .pagination {
    	margin: 2rem 0;
    }
}


@media only screen and (min-width: 55em) {
    .header-main {
    	padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .site-footer .site-info {
		text-align: left;
	}
}

@media only screen and (min-width: 65em) {
    .header-image-added .header-main {
    	grid-column-gap: 1rem;
    }
}


@media only screen and (min-width: 70em) {
    .header-main {
    	padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .entry-header {
        margin: 2.5rem 0 2rem;
    }

    .pagination {
        margin: 2.5rem 0;
    }
}
