@media only screen and (min-width: 560px) {

	/* Footer Widgets */
	.footer-widgets-columns {
		display: flex;
		flex-wrap: wrap;
		margin-right: -1.5rem;
	}

	.footer-widget-column {
		display: flex;
		flex-grow: 1;
		box-sizing: border-box;
		padding-right: 1.5rem;
		width: 50%;
		flex-direction: column;
	}

	/* Three Column Footer Widgets */
	.footer-widget-column:nth-child(1):nth-last-child(3),
	.footer-widget-column:nth-child(2):nth-last-child(2),
	.footer-widget-column:nth-child(3):nth-last-child(1) {
		width: 100%;
	}
}

@media only screen and (min-width: 800px) {
	.header-main,
	.site-content,
	.footer-main {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.header-main {
		padding-top: 2.25rem;
		padding-bottom: 2.25rem;
	}

	.type-post,
	.type-page,
	.type-attachment,
	.pagination {
		margin-bottom: 2rem;
	}

	.entry-header {
		margin: 2rem 0 1.5rem;
	}

	/* Footer */
	.site-footer {
		padding-top: 2rem;
	}

	.footer-widgets-columns {
		margin-right: -2rem;
	}

	.footer-widget-column {
		padding-right: 2rem;
	}

	.footer-widgets .widget {
		margin-bottom: 2rem;
	}

	.footer-copyright {
		padding-top: 2rem;
		margin-bottom: 2rem;
	}

	/* Three Column Footer Widgets */
	.footer-widget-column:nth-child(1):nth-last-child(3),
	.footer-widget-column:nth-child(2):nth-last-child(2),
	.footer-widget-column:nth-child(3):nth-last-child(1) {
		width: 33.3333333333333%;
	}
}

@media only screen and (min-width: 960px) {
	.entry-content > .alignwide {
		margin-left: -120px;
		margin-right: -120px;
	}
}

@media only screen and (min-width: 1040px) {

	/* Four Column Footer Widgets */
	.footer-widget-column:nth-child(1):nth-last-child(4),
	.footer-widget-column:nth-child(2):nth-last-child(3),
	.footer-widget-column:nth-child(3):nth-last-child(2),
	.footer-widget-column:nth-child(4):nth-last-child(1) {
		width: 25%;
	}
}

@media only screen and (min-width: 1120px) {
	body {
		padding: 1.5rem;
	}

	.site {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	}

	.header-main,
	.site-content,
	.footer-main {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	.header-main {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}

	.type-post,
	.type-page,
	.type-attachment,
	.pagination {
		margin-bottom: 2.5rem;
	}

	.entry-header {
		margin: 2.5rem 0 2rem;
	}

	.post-image,
	.entry-content > .alignfull {
		margin-left: calc(-100vw / 2 + 100% / 2 + 1.5rem);
		margin-right: calc(-100vw / 2 + 100% / 2 + 1.5rem);
	}

	/* Footer */
	.site-footer {
		padding-top: 2.5rem;
	}

	.footer-widgets-columns {
		margin-right: -2.5rem;
	}

	.footer-widget-column {
		padding-right: 2.5rem;
	}

	.footer-widgets .widget {
		margin-bottom: 2.5rem;
	}

	.footer-copyright {
		padding-top: 2.5rem;
		margin-bottom: 2.5rem;
	}
}

@media only screen and (min-width: 1280px) {
	body {
		padding: 2rem;
	}

	.post-image,
	.entry-content > .alignfull {
		margin-left: calc(-100vw / 2 + 100% / 2 + 2rem);
		margin-right: calc(-100vw / 2 + 100% / 2 + 2rem);
	}
}

/* theme width + padding * 2: 1280px + 2.5rem * 2 = 1360px */
@media only screen and ( min-width: calc( #{$themeWidth} + 80px ) ) {
	.post-image,
	.entry-content > .alignfull {
		margin-left: calc(100% / 2 - #{$themeWidth} / 2);
		margin-right: calc(100% / 2 - #{$themeWidth} / 2);
		max-width: 1280px;
	}
}
