@media only screen and (min-width: 880px) {
	.menu-toggle,
	.dropdown-toggle {
		display: none;
	}

	.main-navigation ul,
	.main-navigation ul ul {
		display: block;
	}

	#masthead .main-navigation > ul.menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}

	.main-navigation ul a {
		padding: 1.25rem;
		border: none;
	}

	.main-navigation ul li.current-menu-item > a {
		text-decoration: none;
		@include background(--navi-active-color);
	}

	/* Dropdown Menus */
	.main-navigation ul ul {
		position: absolute;
		left: -999em;
		padding: 0;
		top: 100%;
		z-index: 99999;
		border-top: 1px solid transparent;
	}

	.main-navigation ul ul li {
		@include background(--navi-color);
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
		right: auto;
	}

	.main-navigation ul ul a {
		width: 16rem;
		padding: 1rem;
		border-bottom: 1px solid rgba(255, 255, 255, 0.08);
		border-bottom: 1px solid var(--navi-border-color);
	}

	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		left: 0;
		right: auto;
	}

	.main-navigation ul ul ul {
		left: -999em;
		margin-top: 0;
		top: 0;
		border: none;
	}

	/* Dropdown Icons */
	.main-navigation .menu-item-has-children > a > .icon,
	.main-navigation .page_item_has_children > a > .icon {
		position: relative;
		display: inline-block;
		left: 0.5rem;
		top: 0.15rem;
		width: 15px;
		height: 15px;
		@include fill(--navi-text-color);
	}

	.main-navigation ul ul .menu-item-has-children > a > .icon,
	.main-navigation ul ul .page_item_has_children > a > .icon {
		position: absolute;
		left: auto;
		right: 1em;
		top: 50%;
		margin-top: -0.5rem;
		-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
		-ms-transform: rotate(-90deg); /* IE 9 */
		transform: rotate(-90deg);
		@include fill(--navi-text-color);
	}
}
