/* Block Colors */
.has-primary-color {
	color: #0c557a;
}

.has-secondary-color {
	color: #ff6600;
}

.has-accent-color {
	color: #a156b4;
}

.has-white-color {
	color: #ffffff;
}

.has-light-gray-color {
	color: #e5e5e5;
}

.has-dark-gray-color {
	color: #444444;
}

.has-black-color {
	color: #151515;
}

/* Block Background Colors */
.has-primary-background-color {
	background-color: #0c557a;
}

.has-secondary-background-color {
	background-color: #ff6600;
}

.has-accent-background-color {
	background-color: #a156b4;
}

.has-white-background-color {
	background-color: #ffffff;
}

.has-light-gray-background-color {
	background-color: #e5e5e5;
}

.has-dark-gray-background-color {
	background-color: #444444;
}

.has-black-background-color {
	background-color: #151515;
}
