/* Wide Page Layout */
body.wide-page-layout .site-content .site-main {
	max-width: $wideWidth;
}

/* Fullwidth Page Layout */
body.fullwidth-page-layout .site-content .site-main {
	max-width: $fullWidth;
}

/* Disable Wide Blocks on Page Layouts */
body.wide-page-layout .entry-content > .alignwide,
body.fullwidth-page-layout .entry-content > .alignwide {
	margin: 0;
	max-width: 100%;
}
