/* Fullwidth Page Layout */
body.fullwidth-page-layout .site-content .site-main {
	max-width: $contentFullwidth;
}

/* Hide Page Title */
.page-title-hidden .type-page .page-header {
	display: none;
}

/* Remove Bottom Margin */
.page-bottom-margin-removed .type-page,
.page-bottom-margin-removed .type-page .entry-content > *:last-child {
	margin-bottom: 0;
}
