/*
 * Editor Styles
 *
 * @package GT Basic
 */
.wp-block {
	width: calc( 880px + 30px - 3rem);
}

body {
	color: #202020;
	font-family: "Open Sans", Arial, Helvetica;
	font-family: var(--text-font);
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.75;
}

p {
	font-size: 18px;
	font-size: 1.125rem;
	margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 1em 0 0.75em;
	font-family: Montserrat, Tahoma, Arial;
	font-family: var(--title-font);
	line-height: 1.4;
}

h1 {
	font-size: 32px;
	font-size: 2rem;
}

h2 {
	font-size: 26px;
	font-size: 1.625rem;
}

h3 {
	font-size: 22px;
	font-size: 1.375rem;
}

h4 {
	font-size: 20px;
	font-size: 1.25rem;
}

h5 {
	font-size: 19px;
	font-size: 1.1875rem;
}

h6 {
	font-size: 18px;
	font-size: 1.125rem;
}
