/*
 * Block Editor Styles
 *
 * @package GT Basic
 */
:root {
	--link-color: #ee1133;
	--link-hover-color: #D5001A;
	--button-color: #ee1133;
	--button-text-color: #fff;
	--button-hover-color: #D5001A;
	--button-hover-text-color: #fff;
	--site-title-color: #fff;
	--title-color: #202020;
	--title-hover-color: #ee1133;
	--navi-color: #202020;
	--navi-text-color: #fff;
	--navi-hover-text-color: rgba(255, 255, 255, 0.5);
	--navi-border-color: rgba(255, 255, 255, 0.05);
	--submenu-color: #ee1133;
	--submenu-text-color: #fff;
	--submenu-hover-text-color: rgba(255, 255, 255, 0.5);
	--submenu-border-color: rgba(255, 255, 255, 0.075);
	--footer-color: #202020;
	--footer-text-color: #fff;
	--footer-hover-text-color: rgba(255, 255, 255, 0.5);
	--footer-border-color: rgba(255, 255, 255, 0.035);
	--block-primary-color: #ee1133;
	--block-secondary-color: #D5001A;
	--block-accent-color: #EFC83A;
	--block-complementary-color: #27415F;
	--text-font: "Open Sans", Arial, Helvetica;
	--title-font: Montserrat, Tahoma, Arial;
	--title-font-weight: bold;
	--title-text-transform: none;
	--navi-font: "Open Sans", Arial, Helvetica;
	--navi-font-weight: normal;
	--navi-text-transform: none;
}

/* Editor Styles */
body.gutenberg-editor-page {
	color: #202020;
}

body.gutenberg-editor-page .edit-post-visual-editor,
body.gutenberg-editor-page .edit-post-visual-editor p {
	font-size: 18px;
	font-size: 1.125rem;
	font-family: "Open Sans", Arial, Helvetica;
	font-family: var(--text-font);
	line-height: 1.75;
}

body.gutenberg-editor-page .editor-post-title__block .editor-post-title__input {
	font-size: 40px;
	font-size: 2.5rem;
	font-family: Montserrat, Tahoma, Arial;
	font-family: var(--title-font);
	font-weight: bold;
	font-weight: var(--title-font-weight);
	text-transform: none;
	text-transform: var(--title-text-transform);
	line-height: 1.4;
}

/* Editor Width */
body.gutenberg-editor-page .edit-post-visual-editor .editor-post-title__block,
body.gutenberg-editor-page .editor-default-block-appender,
body.gutenberg-editor-page .editor-block-list__block {
	max-width: 750px;
}

body.gutenberg-editor-page .editor-block-list__block[data-align="wide"] {
	max-width: 1240px;
}

body.gutenberg-editor-page .editor-block-list__block[data-align="full"] {
	max-width: none;
}

/* Headings
body.gutenberg-editor-page .edit-post-visual-editor h1.editor-rich-text__tinymce.mce-content-body,
body.gutenberg-editor-page .edit-post-visual-editor h2.editor-rich-text__tinymce.mce-content-body,
body.gutenberg-editor-page .edit-post-visual-editor h3.editor-rich-text__tinymce.mce-content-body,
body.gutenberg-editor-page .edit-post-visual-editor h4.editor-rich-text__tinymce.mce-content-body,
body.gutenberg-editor-page .edit-post-visual-editor h5.editor-rich-text__tinymce.mce-content-body,
body.gutenberg-editor-page .edit-post-visual-editor h6.editor-rich-text__tinymce.mce-content-body {
	clear: both;
	margin: 1em 0 0.75em;
	line-height: 1.4;
}

body.gutenberg-editor-page .edit-post-visual-editor h1.editor-rich-text__tinymce.mce-content-body {
	font-size: 32px;
	font-size: 2rem;
}

body.gutenberg-editor-page .edit-post-visual-editor h2.editor-rich-text__tinymce.mce-content-body {
	font-size: 26px;
	font-size: 1.625rem;
}

body.gutenberg-editor-page .edit-post-visual-editor h3.editor-rich-text__tinymce.mce-content-body {
	font-size: 22px;
	font-size: 1.375rem;
}

body.gutenberg-editor-page .edit-post-visual-editor h4.editor-rich-text__tinymce.mce-content-body {
	font-size: 20px;
	font-size: 1.25rem;
}

body.gutenberg-editor-page .edit-post-visual-editor h5.editor-rich-text__tinymce.mce-content-body {
	font-size: 19px;
	font-size: 1.1875rem;
}

body.gutenberg-editor-page .edit-post-visual-editor h6.editor-rich-text__tinymce.mce-content-body {
	font-size: 18px;
	font-size: 1.125rem;
}
*/

/* GT Buttons */
.is-style-gt-button a {
	display: inline-block;
	padding: 0.4rem 1rem;
	color: #fff;
	color: var(--button-text-color);
	background-color: #ee1133;
	background-color: var(--button-color);
	font-size: 15px;
	font-size: 0.9375rem;
	border-radius: 0.5rem;
}

.is-style-gt-button a:link,
.is-style-gt-button a:visited {
	color: #fff;
	color: var(--button-text-color);
	text-decoration: none;
}

.is-style-gt-button a:hover,
.is-style-gt-button a:active {
	color: #fff;
	color: var(--button-hover-text-color);
	background-color: #D5001A;
	background-color: var(--button-hover-color);
	text-decoration: none;
}

/* GT Headings */
h2.is-style-gt-heading-large {
	font-size: 40px;
	font-size: 2.5rem;
	text-transform: uppercase;
}

/* Block Text Colors */
.has-primary-color {
	color: #ee1133;
	color: var(--block-primary-color);
}

.has-secondary-color {
	color: #D5001A;
	color: var(--block-secondary-color);
}

.has-accent-color {
	color: #EFC83A;
	color: var(--block-accent-color);
}

.has-complementary-color {
	color: #27415F;
	color: var(--block-complementary-color);
}

.has-white-color {
	color: #ffffff;
}

.has-light-gray-color {
	color: #e5e5e5;
}

.has-dark-gray-color {
	color: #555555;
}

.has-black-color {
	color: #242424;
}

/* Block Background Colors */
.has-primary-background-color {
	background-color: #ee1133;
	background-color: var(--block-primary-color);
}

.has-secondary-background-color {
	background-color: #D5001A;
	background-color: var(--block-secondary-color);
}

.has-accent-background-color {
	background-color: #EFC83A;
	background-color: var(--block-accent-color);
}

.has-complementary-background-color {
	background-color: #27415F;
	background-color: var(--block-complementary-color);
}

.has-white-background-color {
	background-color: #ffffff;
}

.has-light-gray-background-color {
	background-color: #e5e5e5;
}

.has-dark-gray-background-color {
	background-color: #555555;
}

.has-black-background-color {
	background-color: #242424;
}

/* Block Font Sizes */
.has-small-font-size {
	font-size: 16px;
}

.has-medium-font-size {
	font-size: 20px;
}

.has-large-font-size {
	font-size: 24px;
}

.has-extra-large-font-size {
	font-size: 36px;
}
