/* Post and Page Title */
body.gutenberg-editor-page .editor-post-title__block .editor-post-title__input {
    @include font-size(40);
    @include font-family(--title-font);
    @include font-weight(--title-font-weight);
    @include text-transform(--title-text-transform);
    line-height: 1.4;
}

/* Fullwidth Page Layout */
body.gt-fullwidth-page-layout.gutenberg-editor-page .editor-post-title__block,
body.gt-fullwidth-page-layout.gutenberg-editor-page .editor-default-block-appender,
body.gt-fullwidth-page-layout.gutenberg-editor-page .editor-block-list__block {
	max-width: calc( #{$fullWidth} + 30px );
}

/* Wide and Fullwidth Blocks */
body.gutenberg-editor-page .editor-block-list__block[data-align="wide"] {
	max-width: calc( #{$wideWidth} + 30px );
}

body.gutenberg-editor-page .editor-block-list__block[data-align="full"] {
    max-width: none;
}

/* Hidden Page Title */
body.gt-page-title-hidden.gutenberg-editor-page .edit-post-visual-editor .editor-post-title {
	background-color: #fff;
	background-image: linear-gradient( 45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd ), 
	                  linear-gradient( 45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd );
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
}
