/* Block Text Colors */
.has-primary-color {
	@include color(--block-primary-color);
}

.has-secondary-color {
	@include color(--block-secondary-color);
}

.has-accent-color {
	@include color(--block-accent-color);
}

.has-complementary-color {
	@include color(--block-complementary-color);
}

.has-white-color {
	color: $whiteColor;
}

.has-light-gray-color {
	color: $lightGrayColor;
}

.has-dark-gray-color {
	color: $darkGrayColor;
}

.has-black-color {
	color: $blackColor;
}

/* Block Background Colors */
.has-primary-background-color {
	@include background(--block-primary-color);
}

.has-secondary-background-color {
	@include background(--block-secondary-color);
}

.has-accent-background-color {
	@include background(--block-accent-color);
}

.has-complementary-background-color {
	@include background(--block-complementary-color);
}

.has-white-background-color {
	background-color: $whiteColor;
}

.has-light-gray-background-color {
	background-color: $lightGrayColor;
}

.has-dark-gray-background-color {
	background-color: $darkGrayColor;
}

.has-black-background-color {
	background-color: $blackColor;
}
